<launch>

  <!-- Load map -->
  <param name="map_dir" value="$(find simple_sim_crosswalk)/map" />
  <rosparam command="load" file="$(find simple_sim_crosswalk)/map/crosswalk.yaml" />

  <!-- Load robot -->
  <rosparam command="load" file="$(find simple_sim_crosswalk)/robot/ackermann.yaml" />

  <include file="$(find simple_sim)/launch/simple_sim.launch">
    <arg name="show_rviz" value="false" />
    <arg name="show_kb_teleop" value="false" />
  </include>

  <!-- Steering -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel" />
  </node>

</launch>
